layout poetry

source ".env.local"

export OPENAI_API_KEY=$(op read "op://Knolbe/OpenAI Knolbe/taxdocs")
# TODO casing is important on this one
export OPENAI_LOG=debug

export TAXDOCS_DEBUG_EXTRACTION=true
export TAXDOCS_USE_LIVE_SHEET=true

export LOG_LEVEL=DEBUG

export PYTHONBREAKPOINT=pdbr.set_trace

export GOOGLE_CLOUD_QUOTA_PROJECT=cpa-sidekick

# https://learn.microsoft.com/en-us/python/api/overview/azure/ai-documentintelligence-readme?view=azure-python-preview
export AZURE_COGNITIVE_SERVICES_ENDPOINT="https://tax-document.cognitiveservices.azure.com/"
export AZURE_API_KEY=$(az cognitiveservices account keys list --name "tax-document" --resource-group "cpa-sidekick" | jq -r '.key1')

# standard python config
export PYTHONFAULTHANDLER=1
export PYTHONUNBUFFERED=1
export PYTHONHASHSEED=random
export PYTHONDONTWRITEBYTECODE=1
export PYTHONSAFEPATH=1